<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}Inicio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="flex justify-between items-center bg-white py-4 px-6 shadow relative">
    <div class="flex items-center space-x-4 ml-auto">
        <div class="relative">
            <i class="fas fa-bell text-xl relative cursor-pointer" onclick="toggleNotifications()">
                <span class="absolute top-0 right-0 inline-block w-2 h-2 bg-red-600 rounded-full"></span>
            </i>
            <div id="notificationPopup" class="notification-popup">
                <div class="p-4 border-b flex justify-between items-center">
                    <h3 class="text-lg font-bold">Notificaciones</h3>
                    <i class="fas fa-times cursor-pointer" onclick="closeNotifications()"></i>
                </div>
                <div class="p-4">
                    <p class="text-sm">Notificación de muestra 1</p>
                    <hr class="my-2">
                    <p class="text-sm">Notificación de muestra 2</p>
                    <hr class="my-2">
                    <p class="text-sm">Notificación de muestra 3</p>
                </div>
            </div>
        </div>
        <div class="relative">
            <div class="flex items-center space-x-2 cursor-pointer" onclick="toggleProfile()">
                <img alt="User profile picture" class="w-8 h-8 rounded-full" height="32" src="{{ session['foto_perfil'] }}" width="32"/>
                <div class="text-sm">
                    <div>{{ session['nombres'] }}</div>
                    <div class="text-gray-500">{{ session['rol'] }}</div>
                </div>
            </div>
            <div id="profilePopup" class="profile-popup">
                <div class="p-4 border-b flex justify-between items-center">
                    <h3 class="text-lg font-bold">Perfil</h3>
                    <i class="fas fa-times cursor-pointer" onclick="closeProfile()"></i>
                </div>
                <div class="p-4 flex items-center space-x-4">
                    <img alt="User profile picture" class="w-8 h-8 rounded-full" height="32" src="{{ session['foto_perfil'] }}" width="48"/>
                    <div>
                        <div>{{ session['nombres'] }}</div>
                        <div class="text-gray-500">{{ session['rol'] }}</div>
                    </div>
                </div>
                <div class="p-4 border-t">
                    <button class="w-full text-left text-sm text-blue-500">Configuración</button>
                </div>
                <div class="p-4 border-t">
                    <button class="w-full text-left text-sm text-red-500" 
                        onclick="window.location.href='{{ url_for('app_routes.logout') }}'">
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
