
<div id="sidebar" class="text-white sidebar-collapsed flex flex-col items-center py-4 sidebar-transition h-screen" style="background-color: #0E2238">
    <!-- Botón de menú -->
    <div class="mb-8 cursor-pointer" onclick="toggleSidebar()">
        <i class="fas fa-th-large text-xl"></i>
    </div>
    
    <!-- Ítems del sidebar -->
    <div class="flex flex-col space-y-2 items-center w-full">
        <button class="tooltip flex items-center focus:outline-none sidebar-item w-full px-4">
            <i class="fas fa-home text-xl"></i>
            <span class="tooltiptext">Inicio</span>
            <span class="ml-2 hidden sidebar-text">Inicio</span>
        </button>
        <button class="tooltip flex items-center focus:outline-none sidebar-item w-full px-4">
            <i class="fas fa-file-alt text-xl"></i>
            <span class="tooltiptext">Faltantes de reportar</span>
            <span class="ml-2 hidden sidebar-text">Faltantes de reportar</span>
        </button>
        <button class="tooltip flex items-center focus:outline-none sidebar-item w-full px-4">
            <i class="fas fa-chart-bar text-xl"></i>
            <span class="tooltiptext">Reporte de resultados</span>
            <span class="ml-2 hidden sidebar-text">Reporte de resultados</span>
        </button>
        <button class="tooltip flex items-center focus:outline-none sidebar-item w-full px-4">
            <i class="fas fa-cog text-xl"></i>
            <span class="tooltiptext">Configuración</span>
            <span class="ml-2 hidden sidebar-text">Configuración</span>
        </button>
    </div>

    <!-- Botón de Cerrar Sesión -->
    <button class="mt-auto mb-4 tooltip flex items-center focus:outline-none sidebar-item w-full px-4"
        onclick="window.location.href='{{ url_for('app_routes.logout') }}'">
        <i class="fas fa-sign-out-alt text-xl"></i>
        <span class="tooltiptext">Cerrar Sesión</span>
        <span class="ml-2 hidden sidebar-text">Cerrar Sesión</span>
    </button>
</div>
