<div id="sidebar" class="bg-blue-900 text-white sidebar-collapsed flex flex-col items-center py-4 sidebar-transition">
    <div class="mb-8 cursor-pointer" onclick="toggleSidebar()">
        <i class="fas fa-th-large text-xl"></i>
    </div>
    <div id="sidebarContent" class="flex flex-col space-y-8 items-center pl-2">
        <button class="tooltip flex items-center focus:outline-none">
            <i class="fas fa-home text-xl"></i>
            <span class="tooltiptext">Inicio</span>
            <span class="ml-2 hidden sidebar-text">Inicio</span>
        </button>
        <button class="tooltip flex items-center focus:outline-none">
            <i class="fas fa-file-alt text-xl"></i>
            <span class="tooltiptext">Faltantes de reportar</span>
            <span class="ml-2 hidden sidebar-text">Faltantes de reportar</span>
        </button>
    </div>
</div>
