{% extends "base.html" %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-6">
    <button class="card">
        <i class="fas fa-users-cog icon"></i>
        <h2>VISUALIZACIÓN DE ROLES</h2>
    </button>
    <button class="card">
        <i class="fas fa-clipboard-list icon"></i>
        <h2>INVENTARIO DE REACTIVOS</h2>
    </button>
    <button class="card">
        <i class="fas fa-chart-line icon"></i>
        <h2>REPORTE FINANCIERO</h2>
    </button>
    <button class="card">
        <i class="fas fa-truck icon"></i>
        <h2>PROVEEDORES</h2>
    </button>
    <button class="card">
        <i class="fas fa-user-md icon"></i>
        <h2>DOCTORES</h2>
    </button>
    <button class="card">
        <i class="fas fa-hospital icon"></i>
        <h2>HOSPITALES</h2>
    </button>
    <button class="card" onclick="window.location.href='{{ url_for('app_routes.add_employee') }}'">
        <i class="fas fa-users icon"></i>
        <h2>EMPLEADOS</h2>
    </button>
    <button class="card">
        <i class="fas fa-cog icon"></i>
        <h2>CONFIGURACIÓN</h2>
    </button>
</div>
{% endblock %}