{% extends "base.html" %}

{% block title %}Inventario de Reactivos{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="{{ url_for('static', filename='js/inventario.js') }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<div class="container mx-auto p-4">
    <div class="flex items-center mb-4">
        <button class="text-2xl" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></button>
        <h1 class="text-4xl font-bold ml-4">Inventario de Reactivos</h1>
    </div>
</div>

<div class="container mx-auto p-4 mt-8">
    <div class="flex items-center mb-4">
        <div class="relative w-1/2">
            <input type="text" id="search-input" placeholder="Buscar reactivo" class="w-full p-2 border rounded" oninput="searchInventory()">
            <i class="fas fa-search absolute right-3 top-3 text-gray-400"></i>
        </div>
        <button class="btn-editar ml-4" style="border-radius: 1rem;" onclick="window.location.href='{{ url_for('app_routes.add_reactivo') }}'">Añadir prueba</button>
    </div>

    <div class="flex">
        <div class="w-2/3">
            <div class="overflow-y-auto max-h-[calc(10*4rem)] border rounded shadow">
                <!-- Tabla de inventario -->
                <table class="min-w-full bg-white rounded-lg shadow-md">
                    <thead class="sticky-header">
                        <tr class="border-b">
                            <th class="py-2 px-15 text-left text-red-500">ID <i class="fas fa-arrow-down"></i></th>
                            <th class="py-2 px-15 text-left">Prueba</th>
                            <th class="py-2 px-15 text-left">Tipo de producto</th>
                            <th class="py-2 px-15 text-left">Existencia</th>
                            <th class="py-2 px-15 text-left">Venta</th>
                            <th class="py-2 px-15 text-left">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if reactivos %}
                            {% for reactivo in reactivos %}
                            <tr class="border-b cursor-pointer {% if not reactivo.activo %}bg-gray-100{% endif %}" onclick="selectReactivo({{ reactivo.id }}, '{{ reactivo.nombre }}', '{{ reactivo.tipo_reactivo }}', '{{ reactivo.cantidad_inicial }}', '{{ reactivo.precio_unidad }}')">
                                <td class="py-2 px-4">{{ reactivo.id }}</td>
                                <td class="py-2 px-15">{{ reactivo.nombre }}</td>
                                <td class="py-2 px-15">{{ reactivo.tipo_reactivo }}</td>
                                <td class="py-2 px-15">{{ reactivo.cantidad_inicial }}</td>
                                <td class="py-2 px-15">{{ reactivo.precio_unidad }}</td>
                                <td class="py-2 px-15">
                                    {% if reactivo.activo %}
                                        <button class="btn-editar" >Editar</button>
                                        <button class="btn-eliminar" onclick="confirmDeleteReactivo('{{ reactivo.id }}')">Eliminar</button>
                                    {% else %}
                                        <button class="btn-activar"  onclick="confirmActivateReactivo('{{ reactivo.id }}')">Activar</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" class="py-2 px-4 text-center">No hay reactivos registrados.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Panel de detalles -->
        <div class="w-1/3 ml-4 mt-16">
            <div class="bg-white p-4 rounded-lg shadow-md" style="border-radius: 1rem;">
                <h2 class="text-xl font-bold mb-4">Detalles</h2>
                <p><strong>Nombre del reactivo:</strong> <span id="reactivo-name">Nombre</span></p>
                <p><strong>Tipo de reactivo:</strong> <span id="reactivo-type">Tipo</span></p>
                <p><strong>Cantidad en inventario:</strong> <span id="reactivo-quantity">Cantidad</span></p>
                <p><strong>Precio por unidad:</strong> $<span id="reactivo-price">Precio</span></p>
                <p><strong>Fecha de entrada:</strong> <span id="reactivo-entry-date">dd/mm/aaaa</span></p>
                <p><strong>Fecha de vencimiento:</strong> <span id="reactivo-expiry-date">dd/mm/aaaa</span></p>
                <p><strong>Proveedor:</strong> <span id="reactivo-supplier">Proveedor</span></p>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div id="delete-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg" style="border-radius: 1rem;">
        <h2 class="text-xl font-bold mb-4">Confirmar Eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar este reactivo?</p>
        <input type="hidden" id="delete-reactivo-id">

        <!-- Mensajes de error o éxito -->
        <div id="modal-message" class="mt-2 text-center"></div>

        <div class="mt-4">
            <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
            <input type="password" id="password" class="mt-1 p-2 border rounded w-full" style="border-radius: 1rem;">
        </div>

        <div class="mt-4 flex justify-end">
            <button class="bg-gray-200 text-gray-700 px-4 py-2 mr-2" style="border-radius: 1rem;" onclick="closeModal()">Cancelar</button>
            <button class="bg-red-500 text-white px-4 py-2" style="border-radius: 1rem;" onclick="deleteReactivo()">Eliminar</button>
        </div>
    </div>
</div>

<!-- Modal de Confirmación de Activación -->
<div id="activation-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg" style="border-radius: 1rem;">
        <h2 class="text-xl font-bold mb-4">Confirmar Activación</h2>
        <p>¿Estás seguro de que deseas activar este reactivo?</p>
        <input type="hidden" id="activate-reactivo-id">

        <div id="activation-modal-message" class="mt-2 text-center"></div>

        <div class="mt-4">
            <label for="activate-password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
            <input type="password" id="activate-password" class="mt-1 p-2 border rounded w-full" style="border-radius: 1rem;">
        </div>

        <div class="mt-4 flex justify-end">
            <button class="bg-gray-200 text-gray-700 px-4 py-2 mr-2" style="border-radius: 1rem;" onclick="closeModal()">Cancelar</button>
            <button class="bg-green-500 text-white px-4 py-2" style="border-radius: 1rem;" onclick="activateReactivo()">Activar</button>
        </div>
    </div>
</div>

{% endblock %}
