<!DOCTYPE html>
<html lang="es">
<body class="bg-gray-100 font-sans">
<div class="flex h-screen">
    {% include 'partials/sidebar.html' %}
    <div class="flex-1 flex flex-col">
        {% include 'partials/navbar.html' %}
        <div class="flex justify-center items-center flex-1">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <button class="bg-white p-6 rounded-lg shadow-lg text-center focus:outline-none">
                    <div class="text-lg font-bold">FALTANTES DE REPORTAR</div>
                </button>
                <button class="bg-white p-6 rounded-lg shadow-lg text-center focus:outline-none">
                    <div class="text-lg font-bold">REPORTE DE RESULTADOS</div>
                </button>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/enfermero.js') }}"></script>
</body>
</html>

