<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_quimico.css') }}">
</head>
<body class="bg-gray-100 font-sans">

    <div class="flex h-screen">
        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}

        <!-- Main Content -->
        <div class="flex-1 flex flex-col">
            <!-- Header -->
            {% include 'partials/header.html' %}
            
            <!-- Main Section -->
            <div class="flex justify-center items-center flex-1">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <button class="bg-white p-6 rounded-lg shadow-lg text-center focus:outline-none">
                        <img alt="Icon of a report with an exclamation mark" class="mx-auto mb-4" height="64" src="https://storage.googleapis.com/a1aa/image/DuBgaKCxh3gz2NiAsyTO2S6o3mIqyhINSw6JXowzghk.jpg" width="64"/>
                        <div class="text-lg font-bold">FALTANTES DE REPORTAR</div>
                    </button>
                    <button class="bg-white p-6 rounded-lg shadow-lg text-center focus:outline-none">
                        <img alt="Icon of a report with check marks and a graph" class="mx-auto mb-4" height="64" src="https://storage.googleapis.com/a1aa/image/o71GTelBYTzTV3HVkgsAVF1AVaXL9z4x9M0hhTQgdms.jpg" width="64"/>
                        <div class="text-lg font-bold">REPORTE DE RESULTADOS</div>
                    </button>
                    <button class="bg-white p-6 rounded-lg shadow-lg text-center focus:outline-none">
                        <img alt="Icon of a gear" class="mx-auto mb-4" height="64" src="https://storage.googleapis.com/a1aa/image/xoDNkjuWZvgQ7aRniV_qtZVY-UOJssY5njzJz10U9mE.jpg" width="64"/>
                        <div class="text-lg font-bold">CONFIGURACION</div>
                    </button>
                </div>
            </div>
            
            <!-- Footer -->
    {% include 'partials/footer.html' %}
        </div>
        
    </div>
    
    <script src="{{ url_for('static', filename='js/scripts_quimico.js') }}"></script>
</body>
</html>
