{% extends "base.html" %}

{% block title %}Dashboard Quimico{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-full">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-12 p-6">
        <button class="card">
            <h2>Faltantes de reportar</h2>
            <img src="{{ url_for('static', filename='icons/reportar.svg') }}" alt="Icono faltantes de reportar" class="icon">
        </button>
        <button class="card">
            <h2>Reporte de resultados</h2>
            <img src="{{ url_for('static', filename='icons/resultados.svg') }}" alt="Icono resultados" class="icon">
        </button>
        <button class="card">
            <h2>Configuración</h2>
            <img src="{{ url_for('static', filename='icons/configuracion.svg') }}" alt="Icono configuracion" class="icon">
        </button>
    </div>
</div>
{% endblock %}


